<div>
  <h1>About</h1>
  <p>In simple words, CodingBuddy is like GoogleDocs for programmers. It allows you to work collaboratively on
    code with fellow engineers for interviews, troubleshooting, teaching & more- no matter where you live.</p>
  <p>Design & Developed by <font color="yellow">Afeef</font> & <font color="yellow">Shivashish</font></p>
  <div id="footer">
  <a href="https://www.linkedin.com/in/shivashishyadav/" target="_blank">Shivashish</a>
  <a href="https://www.linkedin.com/in/afeefdalvi/" target="_blank">Afeef</a>
</div><!-- End footer -->

</div>
