<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

      <section class="section-spacing text-center" id="features">
         <div class="container">
            <header class="section-header">
               <h1>Changelogs</h1>
               <h2>Reasons why you should choose CodingBuddy</h2>
            </header>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12">
                     <ul class="timeline">

                       <li class="timeline wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">7</span><span class="month"> March</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Started working on API and Footer , Added different modes.</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Load random language if snippet not found and split query.
                                   <br>Don't show compiler options and command line arguments on small devices.
                                   <br>Remove API link from header if it is correct.
                                   <br>Load code by submission token..
                                   <br>Add support for running Base64 encoded executables.
                                   <br>Add links to other editors.
                                   <br>Add support for Vim.
                                   <br>Add support for Emacs.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline-inverted wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">04</span><span class="month"> March</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Working on adding different language.</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Parse languageId to int before check.
                                   <br>Add support for GCC 9.2.0.
                                   <br>Increase or decrease font size with Ctrl + (+/-).
                                   <br>Use timestamp as query parameter when fetching latest messages.
                                   <br>Add support for Extra languages.
                                   <br>Sort extra languages with standard languages.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">1</span><span class="month"> March</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Started working on API and Footer , Added different modes.</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Change years in footer.
                                   <br>Refactor encode and decode functions. This is now most universal solution.
                                   <br>Remove API link from header if it is correct.
                                   <br>Load code by submission token..
                                   <br>Add support for running Base64 encoded executables.
                                   <br>Add links to other editors.
                                   <br>Add support for Vim.
                                   <br>Add support for Emacs.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline-inverted wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">26</span><span class="month"> Feb</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Working on layout and on different mode.</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Change script src for golden-layout.
                                   <br>Use smaller site icon and change navigation link.
                                   <br>Vim mode toggle.
                                   <br>Added bootstrap toggles.
                                   <br>Added some usefull addons for vim.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">24</span><span class="month"> Feb</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Started working on API and Footer , Added different window</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Created CNAME.
                                   <br>Added API link preview if it is different than Initialized API.
                                   <br>Show time (in ms) that took to get submission result from API.
                                   <br>Fixed error in loading WAIT flag from local storage. Don't trim() null.
                                   <br>Show also stdout, stderr, compile_output and sandbox_message.
                                   <br>Blink status line for the first time.
                                   <br>Show content change indicators.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline-inverted wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">21</span><span class="month"> Feb</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Started working on CodingBuddy IDE</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Worked on layout and first page look.
                                   <br>Initialize elements in one method.
                                   <br>Vim mode toggle.
                                   <br>Added bootstrap toggles.
                                   <br>Added some usefull addons for vim.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">18</span><span class="month"> Feb</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Finalizing minor bugs and realeased first Version of CHATTER</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Different smiley added.
                                   <br>Fixed: fixed and updated smiley.
                                   <br>Fixed: Picture upload issue.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline-inverted wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">15</span><span class="month"> Feb</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Adding different Buttons for more feature</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Different smiley added.
                                   <br>Clear button added.
                                   <br>Image button upload addded.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">12</span><span class="month"> Feb</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Adding Style and Buttons</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Added currentuser.
                                   <br>Adding bootstrap design.
                                   <br>Finalizing final custom layout.
                                   <br>Created README.md.
                                   <br>Disabled back button.
                                   <br>Update README.md.
                                   <br>Fixed: Scroll issue.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline-inverted wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">09</span><span class="month"> Feb</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Started Working on Chat Box</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Added first socket custom message.
                                   <br>Added fron-end form.
                                   <br>Fixe: View message in browser.
                                   <br>Added timestamp.
                                   <br>Added name and rooms.
                                   <br>Manage room chat.
                                   <br>Added disconnect event.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">05</span><span class="month"> Feb</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Started Working on anonymous chat app</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Started creating Chat layout.
                                   <br>Created and established local server.
                                   <br>Connected to socket.io
                                   <br>Added socket to client.
                                   <br>Fixed: some miner bugs.
                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline-inverted wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">01</span><span class="month"> Feb</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Version 0.9 Going Live (Published First Version)</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Created Heroku and MongoDB Atlas account
                                   <br>Created cloud database cluster, created user, grant permission, set up Ip to connect with our project.
                                   <br> Project Deploye on Heroku Cloud Server.
                                   <br>Fixed: Gamil and Facebook authentication to work with cloud app.
                                   <br>Fixed: to use cloud MongoDB atlas from local database.
                                   <br>created own peerserver to use video call.
                                </p>
                             </div>
                          </div>
                       </li>


                       <li class="timeline wow bounceInUp">
                          <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
                          <div class="date-info">
                             <span class="day">31</span><span class="month"> Jan</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Version 0.8 Added Real-Time Video Call</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Created UI for Video and Audio Call.
                                   <br>Implemented PeerJS Oper Source library to connect peer to peer, data, audio and video call.
                                   <br>Added API keys of PeerJS in Project.
                                   <br>Implemented WebRTC open source framework for the web that enables Real-Time Communications (RTC) capabilities in the browser.

                                </p>
                             </div>
                          </div>
                       </li>

                       <li class="timeline-inverted wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">01</span><span class="month"> Feb</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Version 0.7 Collaborative Code Editor</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Implemented javascript open source library ot.js to add Collaborative technique.
                                   <br>Connected Task with "MongoDB" database program to save task in it.

                                </p>
                             </div>
                          </div>
                       </li>


                       <li class="timeline wow bounceInUp">
                          <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
                          <div class="date-info">
                             <span class="day">31</span><span class="month"> Jan</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Version 0.6 Chat System (Socket.io), Implementing code-editor</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Implemented CodeMirror editor versitle text-editor support over 100+ Programming Language.
                                   <br>Implemented monakai theme for Code-editor.
                                   <br>Installed Socket.io library for node.js to support chat system.
                                   <br>Created chat room for CodingBuddy

                                </p>
                             </div>
                          </div>
                       </li>


                       <li class="timeline-inverted wow bounceInUp">
                          <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                          <div class="date-info">
                             <span class="day">29</span><span class="month"> Jan</span><span class="year"> 2020</span>
                          </div>
                          <div class="timeline-panel">
                             <div class="timeline-heading">
                                <h6 class="timeline-title">Version 0.5 Creating Tasks for Code Editor</h6>
                             </div>
                             <div class="timeline-body">
                                <p>
                                   Release highlights :
                                   <br>Created Task Function
                                   <br>Connected Task with "MongoDB" database program.

                                </p>
                             </div>
                          </div>
                       </li>
                        <li class="timeline wow bounceInUp">
                           <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
                           <div class="date-info">
                              <span class="day">27</span><span class="month"> Jan</span><span class="year"> 2020</span>
                           </div>
                           <div class="timeline-panel">
                              <div class="timeline-heading">
                                 <h6 class="timeline-title">Version 0.4 Authentication with Facebook </h6>
                              </div>
                              <div class="timeline-body">
                                 <p>
                                    Release highlights :
                                    <br>Created Facebook App for Coding buddy. and connected with local server.
                                    <br>installed passport-facebook library for node.js
                                    <br>Connected Facebook app to sign-in or sign-up with Facebook.
                                 </p>
                              </div>
                           </div>
                        </li>
                        <li class="timeline-inverted wow bounceInUp">
                           <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                           <div class="date-info">
                              <span class="day">24</span><span class="month"> Jan</span><span class="year"> 2020</span>
                           </div>
                           <div class="timeline-panel">
                              <div class="timeline-heading">
                                 <h6 class="timeline-title">Version 0.3 Authentication with Email Registration, Login, Logout </h6>
                              </div>
                              <div class="timeline-body">
                                 <p>
                                    Release highlights :
                                    <br>Created Registraation Page.
                                    <br>installed "MongoDB" database program.
                                    <br>installed node.js library "mongoose" to work in asynchronous environment.
                                    <br>connnected database with login form and Registration form.
                                    <br>installed Passport, passport-local, express session library authentication middleware for Node. js.

                                 </p>
                              </div>
                           </div>
                        </li>
                        <li class="timeline wow bounceInUp">
                           <div class="timeline-badge warning"><i class="fa fa-bullseye"></i></div>
                           <div class="date-info">
                              <span class="day">22</span><span class="month"> Jan</span><span class="year"> 2020</span>
                           </div>
                           <div class="timeline-panel">
                              <div class="timeline-heading">
                                 <h6 class="timeline-title">Version 0.2 Forms and Transactional Emails </h6>
                              </div>
                              <div class="timeline-body">
                                 <p>
                                    Release highlights :
                                    <br>Created contact webpage and response using bootstrap css.
                                    <br>used express validator library to validate forms.
                                    <br>used Nodemailer module for node.js to send transactional email.
                                 </p>
                              </div>
                           </div>
                        </li>
                        <li class="timeline-inverted wow bounceInUp">
                           <div class="timeline-badge danger"><i class="fa fa-crosshairs"></i></div>
                           <div class="date-info">
                              <span class="day">20</span><span class="month"> Jan</span><span class="year"> 2020</span>
                           </div>
                           <div class="timeline-panel">
                              <div class="timeline-heading">
                                 <h6 class="timeline-title">Version 0.1 Project Initialized</h6>
                              </div>
                              <div class="timeline-body">
                                 <p>
                                    Release highlights :<br>
                                    Prepared all requierments<br>installed open sourced expressjs web framework for node.
                                    <br>installed open sourced css bootstrap framework.<br>Created first static web page.
                                 </p>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div id="footer">
         <a href="https://www.linkedin.com/in/shivashishyadav/" target="_blank">Shivashish</a>
         <a href="https://www.linkedin.com/in/afeefdalvi/" target="_blank">Afeef</a>
       </div><!-- End footer -->
      </section>
