<!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<body>
<div id="display">
    <h1>Features</h1>
    </div>

<div id="content">
    <div class="repos">

      <div class="repo-wrap">
                <div class="repo">
                    <h4>Open Source App Development</h4>
                    <div class="outer">
                      <input type="checkbox" id="readmore" />
                      <div class="inner">
                        Utilize the Coding Buddy platform to develop open source software while collaborating in real time.
                      </div>

                    </div>
                </div>
            </div>

            <div class="repo-wrap">
                      <div class="repo">
                          <h4>Multi-Language Support</h4>
                          <div class="outer">
                              <input type="checkbox" id="readmore" />
                              <div class="inner">
                                IDE and compiler support all major languages and can run programs in the browser itself.
                              </div>

                          </div>
                      </div>
                  </div>

	<div class="repo-wrap">
            <div class="repo">
                <h4>Code with your team</h4>
                <div class="outer">
                    <input type="checkbox" id="readmore">
                    <div class="inner">
                        Open a Codingbuddy editor, write or copy code, then share it with friends and colleagues.
                        Pair program and troubleshoot together.

                    </div>

                </div>
            </div>
        </div>
        <div class="repo-wrap">
                  <div class="repo">
                      <h4>Interview developers</h4>
                      <div class="outer">
                          <input type="checkbox" id="readmore" />
                          <div class="inner">
                              Set coding tasks and observe in real-time
                              when interviewing remotely or in person. Nobody likes writing code on a whiteboard.
                          </div>

                      </div>
                  </div>
              </div>

              <div class="repo-wrap">
                        <div class="repo">
                            <h4>Teach People To Code</h4>
                            <div class="outer">
                                <input type="checkbox" id="readmore" />
                                <div class="inner">
                                    Share your code and easily educate students and peers. Suitable for colleges and bootcamps.
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="repo-wrap">
                              <div class="repo">
                                  <h4>Cost Effective and All-Inclusive Solution</h4>
                                  <div class="outer">
                                      <input type="checkbox" id="readmore" />
                                      <div class="inner">
                                        Realtime Collaborative Editor, Compilers, Audio, Video and Text Chat, Question Banks, REPL shells, Teams. We have it all covered.
                                      </div>

                                  </div>
                              </div>
                          </div>



</div><!-- End content -->
    </div>
<div id="footer">
<a href="https://www.linkedin.com/in/shivashishyadav/" target="_blank">Shivashish</a>
<a href="https://www.linkedin.com/in/afeefdalvi/" target="_blank">Afeef</a>
</div><!-- End footer -->
</body>
